/* DetailCustomer.jsx */
.btn-edit {
    background: white;
    border: none;
    border-radius: 5px;
    width: 125px;
    height: 52px;
    color: #4D639B;
}
.edit-icon {
    background: #DEE3F0;
    border-radius: 5px;
}
.btn-del {
    background: white;
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 52px;
    color: #AF2F2F;
}
.del-icon {
    background: #E2AEAE;
    border-radius: 5px;
}

#card-detail {
    border: none;
    font-size: 18px;
    overflow-y: auto;
}

.card-piechart {
    border: none;
    height: 100%;
}

.card-order {
    border: none;
    height: 100%;
}

#add-order {
    background: #E5EAF9;
    color: #4D639B;
}

#edit-order {
    background: #FBE6BD;
    color: #CD9507;
}

#del-order {
    background: #E2AEAE;
    color: #B84A4A;
}
#detail-order {
    background: #4D639B;
    color: white;
}
.piechart-container {
    width: 400px;
    height: 400px;
}
.title {
    font-size: 18px;
}
.card-body {
    height: 350px;
}
.order-style{
    background: #fafbff;
    margin-bottom: 10px;
    padding: 1rem;
    border-radius: 15px;
}
.colorwarn{
    background-color: #ffb700;
    border-radius: 10px;
}
.card-style{
    height: 100%;
}
.order_detail{
    /* background-color: #AF2F2F; */
    margin: 10px;
    border-bottom:  1.5px solid #dedede;
}
.order_detail_index{
    /* background-color: #4D639B; */
    color: #4D639B;
    font-weight: bold;
    padding: 2px;

    /* margin-right: 10px; */
}