html,
body,
#root,
.app,
.content {
  height: 100vh;
  width: 100%;
  font-family: 'Kanit';
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.content_body {
  background-color: #F0F0F0;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.app {
  display: flex;
  position: relative;
}

.menu-bars {
  text-decoration: none;
  color: #000;
}

::-webkit-scrollbar {
  width: 10px;
}