body {
    font-family: 'Kanit';
}

.btn-del {
    width: 40px;
    height: 35px;
    top: 103px;
    left: 509px;
    border-radius: 5px;
}

.btn-add {
    width: 40px;
    height: 35px;
    top: 233px;
    left: 509px;
    border-radius: 5px;
}

.input-field {
    width: 408px;
    height: 45px;
    top: 98px;
    left: 64px;
    border-radius: 5px;
    border: 1px solid rgba(204, 204, 204, 1)
}